@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --color-white: #fff;
  --color-grey-lightest: #f4f2f2;
  --color-grey-light: #ccc;
  --color-grey-dark: #777;
  --color-grey-darkest: #333;
  --shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey-lightest);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-grey-light);
  color: var(--color-grey-darkest);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.hidden {
  display: none !important;
}

.signup-form {
  width: 100%;
}

.signup-form__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: var(--line);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  max-width: 400px;
  padding: 2rem;
  width: 95%;
}

.signup-form__title {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}

.signup-form__steps-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 80%;
}

.signup-form__steps-container div {
  background-color: var(--color-grey-dark);
  color: var(--color-grey-lightest);
  padding: 10px 0;
  text-align: center;
  width: 50%;
}

.signup-form__steps-container div.signup-form__step--1 {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.signup-form__steps-container div.signup-form__step--2 {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.signup-form__steps-container div.signup-form__step--active {
  background-color: var(--color-grey-lightest);
  border: var(--line);
  color: var(--color-grey-darkest);
}

.signup-form p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
  width: 100%;
}

.signup-form p:last-child {
  margin-bottom: 0;
}

.signup-form p.signup-form__utility--mb20 {
  margin-bottom: 20px;
}

.signup-form p label {
  padding-right: 10px;
}

.signup-form p input {
  background-color: var(--color-grey-lightest);
  border-radius: 3px;
  border: none;
  padding: 2px 5px;
  width: 75%;
}

.signup-form p input:focus {
  background-color: var(--color-white);
  outline: none;
}

.signup-form p input[type='radio'] {
  width: auto;
}

.signup-form p textarea {
  background-color: var(--color-grey-lightest);
  border-radius: 3px;
  border: none;
  margin-left: -20px;
  padding: 5px;
  resize: none;
  width: calc(100% - 2px - 20px);
}

.signup-form p textarea:focus {
  background-color: var(--color-white);
  outline: none;
}

.signup-form fieldset {
  border-radius: 5px;
  border: var(--line);
  margin-bottom: 20px;
  padding: 5px 0 10px;
  width: 100%;
}

.signup-form fieldset p {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: 10px;
}

.signup-form fieldset p label {
  margin-left: 10px;
}

.signup-form fieldset legend {
  font-size: 1.6rem;
  margin: 10px;
  padding: 0 10px;
}

.signup-form button {
  background-color: var(--color-grey-lightest);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.signup-form button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.signup-form button:hover, .signup-form button:focus {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.submitted-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: var(--line);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  max-width: 400px;
  padding: 2rem;
  width: 95%;
}

.submitted-form h2 {
  margin-bottom: 30px;
  text-align: center;
}

.submitted-form div {
  background-color: var(--color-grey-lightest);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.submitted-form div h3 {
  margin-bottom: 20px;
  text-align: center;
}

.submitted-form div ul li {
  list-style: none;
}

.fill-form-btn {
  background-color: greenyellow;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.6rem;
  -ms-grid-column-align: center;
      justify-self: center;
  left: 100px;
  padding: 10px 15px;
  position: fixed;
  top: 100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=style.css.map */