@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #490e97;
  --tertiary-color: #2c055f;
  --hover-color: rgb(8, 253, 253);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font-family: 'Muli', sans-serif;
  height: 100vh;
  justify-content: center;
  padding: 10px;
}
