* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.background {
  background: url('https://images.unsplash.com/photo-1628521941949-38674e1b7d61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80')
    no-repeat center center/cover;
  bottom: -20px;
  filter: blur(16px);
  left: -20px;
  position: absolute;
  right: -20px;
  top: -20px;
  z-index: -1;
}
