@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

:root {
  --primary-color: rgba(19, 211, 77, 0.747);
  --secondary-color: #c4edf8;
  --secondary-color-dark: #b4dce7;
  --dark-gray-color: #777;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: var(--secondary-color); */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  height: 100vh;
  overflow: hidden;
}

h4 {
  font-size: 20px;
  margin: 5px;
  text-transform: uppercase;
}
.counter {
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.counter.hide {
  animation: hide 0.2s ease-out;
  transform: translate(-50%, -50%) scale(0);
}

.final {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.final.show {
  animation: show 0.2s ease-out;
  transform: translate(-50%, -50%) scale(1);
}

.numbers {
  color: var(--primary-color);
  font-size: 40px;
  height: 50px;
  position: relative;
  overflow: hidden;
  width: 250px;
}

.numbers span {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

.numbers span.in {
  animation: goOut 0.5s ease-in-out;
  transform: translate(-50%, -50%) rotate(0);
}

.numbers span.out {
  animation: goIn 0.5s ease-in-out;
  /* transform: translate(-50%, -50%) rotate(0); */
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}

@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  60% {
    transform: translate(-50%, -50%) rotate(20deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  30% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
