* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: steelblue;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Muli', sans-serif;
  height: 100vh;
  justify-content: center;

  overflow: hidden;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 20px 40px;
}
