@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #0d47b3;
  --tertiary-color: #083079;
  --hover-color: rgb(8, 253, 253);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);

  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}

a {
  color: var(--primary-color);
}

h1 {
  line-height: 1.4;
}

.btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 15px 25px;
  font-family: inherit;
  border-radius: 2px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.85;
}
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.screen.up {
  margin-top: -200vh;
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.insects-list li {
  margin: 10px;
}

.choose-insect-btn {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-family: inherit;
  height: 150px;
  width: 150px;
}

.choose-insect-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.choose-insect-btn:active {
  filter: brightness(0.75);
}

.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
