@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #0d47b3;
  --tertiary-color: #083079;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  width: 100vw;
}

a {
  color: var(--primary-color);
}

h1 {
  line-height: 1.4;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 2px;
  border: none;
  color: var(--tertiary-color);
  cursor: pointer;
  font-family: inherit;
  padding: 15px 25px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.85;
}

.screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  transition: margin 0.5s ease-out;
  width: 100%;
}

.screen.up {
  margin-top: -100vh;
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.insects-list li {
  margin: 10px;
}

.choose-insect-btn {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-family: inherit;
  height: 150px;
  width: 150px;
}

.choose-insect-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.choose-insect-btn:active {
  filter: brightness(0.75);
}

.choose-insect-btn img {
  height: 100px;
  object-fit: contain;
  width: 100px;
}

.game-container {
  position: relative;
  width: 100vw;
}

.time,
.score,
.message {
  position: absolute;
  top: 20px;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.message {
  background-color: var(--tertiary-color);
  line-height: 1.7;
  opacity: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  transform: translate(-50%, -150%);
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 2;
}

.message.visible {
  opacity: 1;
  transform: translate(0, 150%);
}

.insect {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
  width: 100px;
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

.insect img {
  height: 100px;
  width: 100px;
}
