@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #3e07a3;
  --secondary-color: #c4edf8;
  --secondary-color-dark: #8dd2e6;
  --white: seashell;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--secondary-color);
  background-image: linear-gradient(
    315deg,
    var(--secondary-color) 0%,
    var(--secondary-color-dark) 100%
  );
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  align-items: center;
  background-color: rgba(222, 222, 222, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  margin: 10px;
}

.location {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.temp {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  padding: 10px;
}

.temp-degree {
  cursor: pointer;
  margin-bottom: 20px;
}
