@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --color-grey-light: #ccc;
  --color-grey-dark: #555;
  --color-grey-darkest: #333;
  --color-black: #000;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-grey-darkest);
  color: var(--color-grey-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

header,
footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-black);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  width: 90%;
}

header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
  max-width: 960px;
}

.post {
  background: linear-gradient(to bottom, var(--color-grey-darkest) 0 60px, var(--color-grey-darkest) 60px, var(--color-grey-dark) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.post__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post__title.sticky {
  background-color: var(--color-grey-darkest);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.post__img-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
  max-width: 80%;
}

.post__img-container img {
  border-radius: 5px;
  max-width: 100%;
}

.post__img-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__img-container div span {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 5px 15px;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.post__img-container div span:first-of-type {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.post__img-container div span:not(:first-of-type) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.post__img-container div span:hover {
  opacity: 0;
}

.post__text {
  font-size: 1.8rem;
  margin-bottom: 30px;
  padding: 0 60px;
}

footer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/*# sourceMappingURL=style.css.map */