@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --color-white: #fff;
  --color-grey-lightest: #f4f2f2;
  --color-grey-light: #ccc;
  --color-grey-dark: #555;
  --color-grey-darkest: #333;
  --color-black: #000;
  --shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey-lightest);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-grey-light);
  background-color: var(--color-grey-darkest);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

header,
footer {
  height: 75px;
  background-color: var(--color-black);
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
}

header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main {
  max-width: 960px;
  background-color: aliceblue;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.post {
  background: -webkit-gradient(linear, left bottom, right top, from(var(--color-grey-darkest)), to(var(--color-grey-dark)));
  background: linear-gradient(to right top, var(--color-grey-darkest), var(--color-grey-dark));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.post__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  font-size: 2rem;
}

.post__title.sticky {
  position: fixed;
  top: 0;
}

.post__img-container {
  margin-bottom: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.post__img-container img {
  border-radius: 5px;
  max-width: 100%;
}

.post__img-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__img-container div span {
  padding: 5px 15px;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.post__img-container div span:first-of-type {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.post__img-container div span:not(:first-of-type) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.post__img-container div span:hover {
  opacity: 0;
}

.post__text {
  font-size: 1.8rem;
  margin-bottom: 30px;
  padding: 0 40px;
}

footer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/*# sourceMappingURL=style.css.map */