@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-white: #fff;
  --color-grey-lightest: #f4f2f2;
  --color-grey-light: #ccc;
  --color-grey-dark: #555;
  --color-grey-darkest: #333;
  --color-black: #000;

  --shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);

  --line: 1px solid var(--color-grey-lightest);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10 px
  scroll-behavior: smooth;
}

body {
  align-items: center;
  color: var(--color-grey-light);
  background-color: var(--color-grey-darkest);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

header,
footer {
  height: 75px;
  background-color: var(--color-black);
  width: 100%;
  // text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main {
  max-width: 960px;
  background-color: aliceblue;
  height: auto;
  flex-grow: 1;
}

.post {
  background: linear-gradient(
    to right top,
    var(--color-grey-darkest),
    var(--color-grey-dark)
  );
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 2rem;
    // margin-bottom: 10px;

    &.sticky {
      position: fixed;
      top: 0;
    }
  }

  &__img-container {
    margin-bottom: 30px;
    align-self: center;

    img {
      border-radius: 5px;
      max-width: 100%;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        padding: 5px 15px;
        transform: translateY(-35px);
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 3px;
        transition: 0.3s linear;

        &:first-of-type {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        &:not(:first-of-type) {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        &:hover {
          opacity: 0;
        }
      }
    }
  }

  &__text {
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding: 0 40px;
  }
}

footer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
