@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-grey-light: #ccc;
  --color-grey-dark: #555;
  --color-grey-darkest: #333;
  --color-black: #000;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10 px
  scroll-behavior: smooth;
}

body {
  align-items: center;
  background-color: var(--color-grey-darkest);
  color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

header,
footer {
  align-items: center;
  background-color: var(--color-black);
  border-radius: 25px;
  display: flex;
  height: 75px;
  justify-content: center;
  text-transform: uppercase;
  width: 90%;
}

header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main {
  flex-grow: 1;
  height: auto;
  max-width: 960px;
}

.post {
  background: linear-gradient(
    to bottom,
    var(--color-grey-darkest) 0 60px,
    var(--color-grey-darkest) 60px,
    var(--color-grey-dark) 100%
  );
  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    align-items: center;
    display: flex;
    font-size: 2rem;
    height: 60px;
    justify-content: center;

    &.sticky {
      background-color: var(--color-grey-darkest);
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }

  &__img-container {
    align-self: center;
    margin-bottom: 30px;
    max-width: 80%;

    img {
      border-radius: 5px;
      max-width: 100%;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 3px;
        padding: 5px 15px;
        transform: translateY(-35px);
        transition: 0.3s linear;

        &:first-of-type {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        &:not(:first-of-type) {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        &:hover {
          opacity: 0;
        }
      }
    }
  }

  &__text {
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding: 0 60px;
  }
}

footer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
