@import url('https://fonts.googleapis.com/css?family=Heebo');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #333;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  font-family: 'Heebo', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

h2 {
  margin-bottom: 30px;
}

.toggle-container {
  align-items: center;
  display: flex;
  margin: 10px 0;
  width: 200px;
}

.toggle {
  visibility: hidden;
}

.toggle:checked + label .ball {
  animation: slideOn 0.3s linear forwards;
}

.toggle-container label {
  background-color: rgb(192, 121, 157);
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  margin: 0 15px 0;
  position: relative;
  width: 80px;
}

.toggle:checked + label {
  background-color: rgb(138, 179, 133);
}

.ball {
  align-items: center;
  animation: slideOff 0.3s linear forwards;
  background: antiquewhite;
  border-radius: 50%;
  height: 34px;
  justify-content: center;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 34px;
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(40px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
