* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: gainsboro;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.empty {
  align-items: center;
  background: black;
  border-radius: 3px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
  width: 150px;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  border-radius: 3px;
  cursor: pointer;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.hold {
  border: solid 5px gray;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
