@import url('https://fonts.googleapis.com/css?family=Popp&display=swap');

:root {
  --primary-color: rgb(27, 16, 128);
  --secondary-color: #8aa5d6;
  --tertiary-color: #0a79c4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 100vw;
}

.magic {
  background-color: var(--tertiary-color);
  border-radius: 5px;
  border: 0;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 50px;
  padding: 15px 30px;
  text-transform: uppercase;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(3px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  justify-content: space-around;
  position: relative;
  transition: all 0.5s ease;
  width: 500px;
}

.boxes.big {
  height: 600px;
  width: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  height: 125px;
  position: relative;
  transition: all 0.5s ease;
  width: 125px;
}
