@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --color-white: #fff;
  --color-grey-lightest: #f4f2f2;
  --color-grey-light: #ccc;

  --color-grey-dark: #777;
  --color-grey-darkest: #333;

  --shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);

  --line: 1px solid var(--color-grey-lightest);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10 px
  scroll-behavior: smooth;
}

body {
  align-items: center;
  background: var(--color-grey-light);
  color: var(--color-grey-darkest);
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.hidden {
  display: none !important;
}

.signup-form {
  width: 100%;

  &__container {
    border: var(--line);
    border-radius: 5px;
    padding: 2rem;
    max-width: 400px;
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow);
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
  }

  &__steps-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 50px;
    font-size: 1.4rem;
    overflow: hidden;
    margin-bottom: 20px;
    & div {
      background-color: var(--color-grey-dark);
      width: 50%;
      text-align: center;
      padding: 10px 0;
      color: var(--color-grey-lightest);

      &.signup-form__step {
        &--1 {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &--2 {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        &--active {
          background-color: var(--color-grey-lightest);
          border: var(--line);
          color: var(--color-grey-darkest);
        }
      }
    }
  }

  & p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &.signup-form__utility--mb20 {
      margin-bottom: 20px;
    }

    & label {
      padding-right: 10px;
    }

    & input {
      border-radius: 3px;
      border: none;
      width: 75%;
      padding: 2px 5px;
      background-color: var(--color-grey-lightest);

      &:focus {
        background-color: var(--color-white);
        outline: none;
      }

      &[type='radio'] {
        width: auto;
      }
    }

    & textarea {
      resize: none;
      border-radius: 3px;
      border: none;
      margin-left: -20px;
      padding: 5px;
      width: calc(100% - 2px - 20px);
      background-color: var(--color-grey-lightest);

      &:focus {
        background-color: var(--color-white);
        outline: none;
      }
    }
  }
  & fieldset {
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    border: var(--line);
    padding: 5px 0 10px;

    & p {
      justify-content: flex-start;
      margin-bottom: 10px;
      margin-left: 10px;

      & label {
        margin-left: 10px;
      }
    }

    & legend {
      font-size: 1.6rem;
      margin: 10px;
      padding: 0 10px;
    }
  }

  & button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    transition: all 0.3s;
    text-transform: uppercase;
    justify-self: center;
    font-family: inherit;
    background-color: var(--color-grey-lightest);

    &:active {
      transform: translateY(3px);
    }

    &:hover,
    &:focus {
      background-color: var(--color-white);
      box-shadow: var(--shadow);
    }
  }
}

.submitted-form {
  border: var(--line);
  border-radius: 5px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow);

  & h2 {
    margin-bottom: 30px;
  }

  & div {
    background-color: var(--color-grey-lightest);
    border-radius: 5px;
    width: 100%;
    padding: 10px;

    & h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    & ul li {
      list-style: none;
    }
  }
}

// filling form with rnd data btn
.fill-form-btn {
  position: fixed;
  top: 100px;
  left: 100px;

  cursor: pointer;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  transition: all 0.3s;
  justify-self: center;
  font-family: sans-serif;
  font-size: 1.6rem;
  background-color: greenyellow;
}
