@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: #ccc;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

// lock textarea resize
textarea {
  resize: none;
}
