@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: #524343;
  background: linear-gradient(90deg, #5a3d3d 0, #3c4261 58%);
  color: #fff;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Mono', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.counter-container {
  background-color: rgb(0 0 0 / 0.15);
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.25);
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px;
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: all 0.2s linear;
}

.counter-container:hover {
  transform: scale(1.02);
}

.counter {
  font-size: 60px;
  margin-top: 10px;
  width: 100%;
}

@media (max-width: 1000px) {
  body {
    flex-direction: column;
  }
}

.fa-twitter:hover {
  color: aqua;
}

.fa-youtube:hover {
  color: red;
}

.fa-facebook:hover {
  color: steelblue;
}
