* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: rgb(41, 68, 68);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  overflow: hidden;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: aqua;
  width: 90vw;
  height: 90vh;

  width: 110vw;
  height: 110vh;
}

.square {
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0 2px black;
  height: 46px;
  margin: 0 0 4px 4px;
  transition: background-color 3s ease, box-shadow 1s ease;
  width: 46px;
  border-radius: 2px;
}

/* so it immediately lights up, but fades slowly! */
.square:hover {
  transition-duration: 0s;
}
