* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: rgb(41, 68, 68);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 85vw;
}

.square {
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0 2px black;
  height: 50px;
  margin: 2px;
  transition: all 3s ease;
  width: 50px;
}

.square:hover {
  transition-duration: 0s;
  /* so it immediately lights up, but fades slowly! */
}
