html {
  box-sizing: border-box;
}

body {
  background-color: #45badd;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background: url(./robot.gif);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  /* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

button {
  background-color: seashell;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  outline: none;
  padding: 15px 25px;
  transition: all 0.3s;
}

.btn-repeat {
  margin-left: 30px;
}

button:hover {
  background-color: #eee;
}

button:active {
  transform: scale(0.96);
}

button:disabled {
  background-color: #999;
  box-shadow: none;
  color: seashell;
  cursor: default;
}

@media screen and (max-width: 800px) {
  .container {
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (max-width: 400px) {
  .btn-repeat {
    margin-left: 0;
  }
}
