@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

body::before {
  background-color: rgba(0, 0, 0, 0.75);
  content: '';
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.slider-container {
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
  height: 70vh;
  overflow: hidden;
  position: relative;
  width: 70vw;
}

.slide {
  background-position: center center;
  background-size: cover;
  height: 100vh;
  left: -15vw;
  opacity: 0;
  position: absolute;
  top: -15vh;
  transition: 0.3s ease;
  width: 100vw;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.arrow {
  background-color: rgba(255, 255, 255, 0.15);
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid orange;
  color: whitesmoke;
  cursor: pointer;
  font-size: 30px;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.arrow:focus {
  outline: 0;
}

.left-arrow {
  border-right: none;
  left: calc(15vw - 65px);
}

.left-arrow:active {
  left: calc(15vw - 68px);
}

.right-arrow {
  border-left: none;
  right: calc(15vw - 65px);
}

.right-arrow:active {
  right: calc(15vw - 68px);
}
