@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: rgba(57, 168, 168, 0.3);
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.btn {
  background-color: #777;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px 25px;
}

.btn:focus {
  color: rgba(87, 255, 255, 0.7);
  outline: none;
}

.btn:active {
  transform: scale(1.02);
}

#toasts {
  align-items: flex-end;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
}

.toast {
  background-color: #fff;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 5px;
  padding: 10px 20px;
}

.toast.info {
  color: rgba(63, 189, 189, 0.9);
}

.toast.success {
  color: green;
}

.toast.error {
  color: red;
}
